body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: #F8F9EE;
    margin: 0;
}

.nav-titulo {
    font-size: 25px;
    font-weight: 650;
    color: #1F4A32;
    padding-left: 20px;
    order: 1;
    margin-right: auto;
}

.img-cabezera {
    width: 400px;
    height: 400px;
}

.nav-header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-menu {
    order: 2;
}

.nav-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    display: inline;
}

.nav-menu a {
    text-decoration: none;
    color: #1F4A32;
    font-weight: 650;
    font-size: 18px;
    padding: 20px;
}

.btn-acceder {
    background-color: #2d6747;
    color: #F8F9EE;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 650;
    margin-right: 5%;
    margin-left: 20px;
    order: 3;
}

.cabezera-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    color: #1F4A32;
}

.titulo {
    padding-left: 20px;
}

.texto-titulo {
    font-size: 20px;
    font-weight: 500;
    color: #1F4A32;
    padding-bottom: 40px;
}

.btn-empezar {
    background-color: #1F4A32;
    color: #F8F9EE;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 650;
}

.eventos {
    width: 100%;
    height: 420px;
}

.header-carrusel h2 {
    margin: 0;
    color: #1F4A32;
    font-size: 28px;
    padding-left: 20px;
}

.header-carrusel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

footer {
    background-color: #C7D6AF;
    color: #1F4A32;
    padding: 20px;
    text-align: center;
}

.header-carrusel a {
    text-decoration: none;
    color: #1F4A32;
    font-size: 20px;
    font-weight: 650;
    padding-right: 20px;
}